@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}


@theme {
    --color-dark-blue: #1B1E3C;
    --color-purple-blue: #5E13F6;
    --color-light: #FF3B61;
    --color-cyan: #00F0FF;
    --color-pink: #FF4DF5;
    --color-dark-black: #000302;
    --color-light-lavender: #D5C7FF;
    --color-light-grey: #F8F5FF;
    --color-light-purple: #E4D7FF;
    --color-grey: #F6F5F4;
    --leading-118: 1.18;
    --leading-121: 1.21;
    --leading-134: 1.34;
    --leading-137: 1.37;
    --leading-120: 1.20;
    --leading-129: 1.29;
    --leading-160: 1.60;
    --leading-158: 1.58;
    --leading-100: 1;
}

.renteasy-bg-shadow {
    box-shadow: 0px -4px 27px 0px #00000029;
}